$primaryColor: #6050e9;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$darkGrey2: #868585;
$colorRed: #f12819;
$mainTransition: all 0.3s ease-in;
$mainSpacing: 4px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
