@import 'variables';
.blog {
  box-shadow: $lightShadow;
  transition: $mainTransition;
}
.blog:hover {
  box-shadow: $darkShadow;
}

.img-container {
  position: relative;
  background: $primaryColor;
  transition: $mainTransition;
}
.img {
  transition: $mainTransition;
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  color: $mainWhite;
  border: 2px solid $mainWhite;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  transition: $mainTransition;
  cursor: pointer;
}
.link:hover {
  background: $mainWhite;
  color: $primaryColor;
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  padding: 1rem;
  text-align: left;
}
.footer h4 {
  text-transform: capitalize;
  margin-bottom: 0;
}
.date {
  position: absolute;
  left: 0;
  top: 75%;
  background: $primaryColor;
  padding: 0.3rem 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
