@import './variables';
.logo {
  max-width: 10rem;
  margin-right: 1rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  & > * {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: $primaryColor;
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  height: 0;
  overflow: hidden;
}
.show-nav {
  height: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav-links a {
  display: block;
  padding: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: $mainBlack;
  transition: $mainTransition;
  font-weight: bold;
  letter-spacing: $mainSpacing;
  &:hover {
    color: $primaryColor;
  }
}

.nav-social-links {
  display: none;
}
.cart-checkout {
  color: $primaryColor;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
  .nav-links {
    margin-bottom: -0.2rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .cart-checkout {
    color: $mainWhite;
    background: $primaryColor;
    border-radius: 50%;
    margin: 0 0.5rem;
    font-size: 2rem;
    padding: 4px;
  }

  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-bottom: -0.2rem;
  }
  .nav-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }
  .nav-social-links a {
    color: $primaryColor;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: $mainTransition;
  }
  .nav-social-links a:hover {
    color: $mainBlack;
    transform: translateY(-5px);
  }
}
